*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: arial;
}

body{
 	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/*
.base-container{
	border: solid 1px blueviolet;
	display: flex;
	padding: 0px 0px;
	flex-wrap: wrap;
} */


/*header section */
.header-block{
	background: #1F2937;
	color: #F9FAF8;
	display: flex;
	justify-content: center;
}

.header-container{
	display: flex;
	flex-direction: row;
	height: 40px;
 	font-size: 18px;
 	justify-content: space-between;
 	width: 80%;
 	padding: 16px 0px;
}

.header-links{
	display: flex;
	list-style-type: none;
 	gap: 24px;
}

.header-links a{
	text-decoration: none;
 	color: #E5E7EB;
}

.logo-replace{
	/* border: solid 1px lightgreen; */
	color: #F9FAF8;
	font-size: 24px;
	display: flex;
	flex: 1;
}

/* hero section */ 

.hero-block{
	background: #1F2937;
	display: flex;
	justify-content: center;
}

.hero-container{
	/* border: solid 1px lightgreen; */
	color: #F9FAF8;
	gap: 24px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 64px 0;
}

.hero-left{
	/* border: solid 1px red; */
	width: 40%
}

.hero-main-text{
	background: #1F2937;
	color: #F9FAF8;
	font-size: 48px;
	font-weight: extra-bold;
}

.hero-text{
	min-width: 200px;
}

.sign-up{
	background-color: #3882F6;
	color: #F9FAF8;
	height: 3em;
	width: 9em;
	border-radius: 6px;
	border: none;
}

.white-border{
	border: solid 1px #F9FAF8;
}

.hero-right{
	/* border: solid 1px blue; */
	width: 40%;
}

/* placeholder for image */
.gray-box{
	background: darkgray;
	min-width: 200px;
	height: 200px;
}

/* content section */

.content-block{
	/* border: solid 2px blue; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content-header{
	margin: 18px 0;
	font-size: 18px;
	font-weight: bold;
}

.content-container{
	/* border: solid 1px red; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 64px 0;
	gap: 64px;
	max-width: 60%;
}

.content-item{
	/* border: solid 1px darkred; */
	display: flex;
	flex-direction: column;	
	flex-wrap: wrap;
	width: 150px;
	text-align: center;
}

/* placeholder for image */

.blue-box{
	width: 150px;
	height: 150px;
	border: solid 3px #3882F6;
	border-radius: 16px;
}

/* quote section */

.quote-block{
	background: #E5E7EB;
	display: flex;
	justify-content: center;
}

.quote-container{
	display: flex;
	flex-direction: column;
	padding: 64px 0;
	max-width: 60%;
}

.quote-text{
	font-size: 32px;
	font-style: italic;
}

.name-quote{
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
}

/* call to action */

.cta-block{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cta-box{
	background-color: #3882F6;
	border-radius: 8px;
	margin: 64px 0;
	height: 128px;
	width: 100%;
	color: #F9FAF8;
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 60%;
}

.cta-text{
	/* border: solid 1px red; */
}

