*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: arial;
}

body{
 	min-height: 100vh;
	display: flex;
	flex-direction: column;

}
header{
 	/* border: solid 1px green; */
	background: #1F2937;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 40px;
 	font-size: 18px;
 	min-height: 60px;
 	padding: 0 124px;
}

ul{
	/* border: solid 1px lightblue; */
	display: flex;
	flex: 1;
	list-style-type: none;
 	gap: 24px;
}

ul a{
	text-decoration: none;
 	color: #E5E7EB;
}

.logo-replace{
	/* border: solid 1px lightgreen; */
	color: #F9FAF8;
	font-size: 24px;
	display: flex;
	flex: 1;
}


.hero{
	background: #1F2937;
	color: white;
	display: flex;
	padding: 40px;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 64px 124px;
	gap: 24px;
}

.hero-main-text{
	background: #1F2937;
	color: #F9FAF8;
	font-size: 48px;
	font-weight: extra-bold;
	display: flex;
	width: 364px;
}

.hero-text{
	width: 400px;
}

.hero-left{
	/* border: solid 1px red; */
	display: flex;
	flex-direction: column;
	flex: 1;
}

#sign-up{
	background-color: #3882F6;
	color: #F9FAF8;
	height: 3em;
	width: 6em;
	border-radius: 8px;
}
.hero-right{
	/* border: solid 1px blue; */
}

.gray-box{
	background: darkgray;
	min-width: 400px;
	height: 200px;
	display: flex;
	flex: 1;
}

.random-info{
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.random-info-item-container{
	/* border: solid 1px red; */
	display: flex;
	flex-direction: row;
	gap: 42px;
	justify-content: center;
	padding: 64px 0;
}

#random-info-header{
	margin: 18px 0;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

.random-info-item{
	display: flex;
	flex-direction: column;	
	flex-wrap: wrap;
	width: 128px;
	text-align: center;
}

.blue-box{
	width: 100%;
	height: 128px;
	border: solid 3px #3882F6;
	border-radius: 16px;
}

.quote{
	background: #E5E7EB;
	display: flex;
	justify-content: center;
}

.quote-container{
	/* border: solid 1px red; */
	display: flex;
	flex-direction: column;
	width: 650px;
	padding: 64px 0;
}

.quote-text{
	font-size: 32px;
}

.name-quote{
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
}